body {
  margin: 0;
  background-color: #000;
  color: #FFF;
  padding: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "D-DIN";
  src: url("./content/fonts/D-DIN.otf") format("OpenType");
}